#root {
  background-color: black;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 18%;
  z-index: 10;
}
.line {
  position: absolute;
  transform-origin: center;
  height: 8px;
  width: 23%;
}

@media (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}
